exposiciones/n8n/n8n.json
{
  "name": "n8n",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1376,
        272
      ],
      "id": "a864529e-5d94-456c-90c2-06ec63ed5573",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "POLLOzSXslgH1UsP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2aeee393-d29d-4925-b9fb-0fc9141a32fd",
              "name": "body",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        112
      ],
      "id": "0045b16a-32c0-492f-b87e-ca62cf9ea0cb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite-preview-06-17",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite-preview-06-17"
        },
        "messages": {
          "values": [
            {
              "content": "=Analiza el contenido del email entrante y determina si está relacionado con la Universidad ICESI. Si el email contiene alguno de los siguientes indicadores, marca \"soporteCliente\" como true; si no es así, márcalo como false.\n\nIndicadores de relación con ICESI:\n- Menciones explícitas a \"ICESI\", \"Universidad ICESI\", \"ICEESI\" o variantes\n- Referencias a dominios de correo institucional (@icesi.edu.co, @correo.icesi.edu.co)\n- Temáticas académicas específicas de ICESI (carreras, facultades, programas ICESI)\n- Preguntas sobre admisiones, matrículas, pregrado, posgrado de ICESI\n- Consultas sobre servicios estudiantiles de ICESI (biblioteca, bienestar, registros)\n- Problemas con plataformas institucionales (Moodle, SIAA, servicios en línea de ICESI)\n- Eventos, actividades o procesos específicos de la universidad ICESI\n- Nombres de departamentos, oficinas o personal administrativo de ICESI\n\nPalabras clave adicionales: \"icesi\", \"universidad icesi\", \"icesi.edu.co\", \"cali\", \"facultad\", \"carrera\", \"matrícula\", \"admisiones\", \"pregrado\", \"posgrado\", \"campus\", \"rectoría\", \"decano\", \"profesor icesi\"\n\nInput: {{ $json.body }}\n\nOutput:\nProvee el resultado en formato JSON con un campo llamado \"soporteCliente\" establecido con \"true\" o \"false\" y un campo llamado \"sentiment\" donde establezcas si el sentimiento es \"positivo\", \"negativo\" o \"neutral\"\n\nEs IMPORTANTE que el output sea solamente el JSON con las características mencionadas",
              "role": "model"
            },
            {
              "content": "=Este es el mensaje del correo:  {{ $json.body }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -992,
        272
      ],
      "id": "0e8af353-4801-4092-9a9b-d6000d44a741",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "pj8oRtq0vBOnCRPc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82cd791f-1b42-46b3-b242-d9520ec0b2f6",
              "name": "soporteCliente",
              "value": "={{ $json.content.parts[0].text.parseJson().soporteCliente }}",
              "type": "string"
            },
            {
              "id": "33038057-8e57-4c63-a260-b16d6e0f92fe",
              "name": "sentiment",
              "value": "={{ $json.content.parts[0].text.parseJson().sentiment }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        272
      ],
      "id": "5172b27d-5682-4677-abfa-964b965ad63e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -432,
        128
      ],
      "id": "dc182e0c-6aa1-46ce-8a9b-d78cef212763",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "30b5f9bb-e2f9-4420-a168-653e354a862a",
              "leftValue": "={{ $json.soporteCliente }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        272
      ],
      "id": "d16b46a6-1694-4da2-996d-3af08b68e152",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un asistente de IA para la Universidad Icesi. Analiza el correo entrante relacionado con Icesi y genera un borrador de respuesta parcial en Gmail. La respuesta debe ser cortés, informativa y no completa (para que un humano la revise y envíe). Incluye:\n- Saludo personalizado basado en el remitente.\n- Resumen breve del problema o consulta del correo.\n- Respuesta inicial sugerida (por ejemplo, \"Estamos revisando su consulta sobre [tema] y le responderemos pronto.\").\n- Firma: \"Atentamente, Equipo de Soporte - Universidad Icesi\".\n\nInput: {{ $json.body }} (contenido del correo) y {{ $json.sentiment }} (sentimiento detectado).\n\nUsa la tool de Gmail para crear un borrador con el asunto \"Respuesta a: [asunto original]\" y el cuerpo generado. No envíes el correo.\n\nOutput: Confirma la creación del borrador en JSON: {\"borradorCreado\": true, \"detalles\": \"Borrador generado para correo relacionado con Icesi.\"}.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        0,
        -32
      ],
      "id": "ada1c1e7-824a-4145-9e66-47edd6dad008",
      "name": "AI Agent",
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        128
      ],
      "id": "fa66ca0e-c6b6-4ab6-ba73-45035884dd59",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pj8oRtq0vBOnCRPc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MEG6Bww1kHaYZv-9phUQYCJMoI3mK1lnb_cHCIq4w5I",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MEG6Bww1kHaYZv-9phUQYCJMoI3mK1lnb_cHCIq4w5I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MEG6Bww1kHaYZv-9phUQYCJMoI3mK1lnb_cHCIq4w5I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Asunto": "={{ $json.subject }}",
            "Cuerpo": "={{ $json.body }}",
            "Remitente": "={{ $json.from }}",
            "Fecha": "={{ $json.date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Asunto",
              "displayName": "Asunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cuerpo",
              "displayName": "Cuerpo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Remitente",
              "displayName": "Remitente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        288
      ],
      "id": "d13e286d-f966-42da-88de-d702fa26d624",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j6WbkBt954a4H9x8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=test"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        96,
        -144
      ],
      "id": "92a0af19-a92b-4b00-9280-5c5df8ac15a6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        144,
        128
      ],
      "id": "5a4c5e41-a3f5-4f62-a586-28cf9c3c8f33",
      "name": "Create a draft in Gmail",
      "webhookId": "620320ec-ef23-4895-a933-8e81054d2065",
      "credentials": {
        "gmailOAuth2": {
          "id": "POLLOzSXslgH1UsP",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7f0aac6c-d12c-4983-bb21-f1215b5ad20b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9e27d18de645d0fce6cecb3233399d0b5533de8cdca07b8cbfe6b363c998b080"
  },
  "id": "XQy9K0iKL9Bs09UQ",
  "tags": []
}